.holder {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid whitesmoke;
   
}
.one {
    position: relative;
}
.two{
    display: flex;
    align-items: flex-end;
    justify-items: center;
    padding: 5px;
}
.rangeslider-horizontal {
    width: 137px;
    height:10px;
    border-radius: 0;
}

.rangeslider-horizontal .rangeslider__handle{
    border-radius: 0;
    width: 10px;
    height: 30px;
}

.rangeslider-horizontal .rangeslider__handle:after {
    display: none;
}


.rangeslider-vertical{
    background-color: #E6e6e6;
}
